.auction-list-item {
  &__image {
    position: relative;
  }

  &__image-overlay {
    padding: 10px 15px;
    background-color: rgba($white-color, .6);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    p {
      margin: 0;
      text-align: center;
      font-weight: 500;
    }
  }

  .btn {
    padding: 0 8px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;

    @media (min-width: $screen-sm) {
      margin-right: 12px;
      padding: 0 18px;
    }

    .text {
      margin-left: 2.5px;
    }
  }
}
