.auction-list-item {
  &__image {
    position: relative;
  }

  &__image-overlay {
    padding: 10px 15px;
    background-color: rgba($white-color, .6);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    p {
      margin: 0;
      text-align: center;
      font-weight: 500;
    }
  }
}
