extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = false
  - var parentMenu = 'Home'
  - var menuTitle = 'Hero Slider'
  - var pageTitle = 'RR Auction'

//- Page Content
block content

  section.my-4
    .container
      .row
        .col-md-4.offset-md-4
          nav.list-group
            a(href='/t01-homepage.html').list-group-item T01 - Homepage
            a(href='/t02-form-page.html').list-group-item T02 - Form Page
            //- a(href='#').list-group-item.active Dapibus ac facilisis in
