extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = false
  - var parentMenu = 'Home'
  - var menuTitle = 'Hero Slider'
  - var pageTitle = 'RR Auction'

//- Page Content
block content

  section.my-4
    .container
      .row
        .col-md-4.offset-md-4
          nav.list-group
            a(href='/t01-homepage.html').list-group-item T01 - Homepage
            a(href='/t02-form-page.html').list-group-item T02 - Form Page
            a(href='/t03-contact.html').list-group-item T03 - Contact
            a(href='/t04-team.html').list-group-item T04 - Team
            a(href='/t05-blog-list.html').list-group-item T05 - Blog List
            a(href='/t06-blog-detail.html').list-group-item T06 - Blog Detail
            a(href='/t07-login.html').list-group-item T07 - Login
            a(href='/t08-forgot-password.html').list-group-item T08 - Forgot Password
            a(href='/t09-register.html').list-group-item T09 - Register
            //- a(href='#').list-group-item.active Dapibus ac facilisis in
