extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = false
  - var parentMenu = 'Home'
  - var menuTitle = 'Hero Slider'
  - var pageTitle = 'T00 - Logged Out'
  - var isLoggedIn = false
  //- - var isHeader = false
