extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = false
  - var parentMenu = 'Home'
  - var menuTitle = 'Hero Slider'
  - var pageTitle = 'T01 - Homepage'
  //- - var isHeader = false

//- Page Content
block content

  -
    var auctions = [
      {
        image: '/img/components/img05.jpg',
        title: 'Marvels of Modern Music',
        link: '#',
        date: '27 September 2019 | 03:00 PM EST'
      },
      {
        image: '/img/components/img05.jpg',
        title: 'Marvels of Modern Music',
        link: '#',
        date: '27 September 2019 | 03:00 PM EST'
      },
      {
        image: '/img/components/img05.jpg',
        title: 'Marvels of Modern Music',
        link: '#',
        date: '27 September 2019 | 03:00 PM EST'
      },
      {
        image: '/img/components/img05.jpg',
        title: 'Marvels of Modern Music',
        link: '#',
        date: '27 September 2019 | 03:00 PM EST'
      },
      {
        image: '/img/components/img05.jpg',
        title: 'Marvels of Modern Music',
        link: '#',
        date: '27 September 2019 | 03:00 PM EST'
      },
      {
        image: '/img/components/img05.jpg',
        title: 'Marvels of Modern Music',
        link: '#',
        date: '27 September 2019 | 03:00 PM EST'
      }
    ]

  .homepage
    // Main Slider
    section.mb-4.mt-4
      .container
        .row
          .col-lg-3.order-lg-1
            include partials/home-sidebar
          .col-lg-9.order-lg-2
            .owl-carousel(data-owl-carousel='{ "nav": true, "dots": true, "loop": true }')
              .item
                .home-slide
                  img(src='//source.unsplash.com/1024x600', alt='Image')
                  .overlay
                    p.text This is some text about the item
                    a.btn.btn-primary(href="#") Optional CTA
              .item
                .home-slide
                  img(src='//source.unsplash.com/1024x600', alt='Image')
                  .overlay
                    p.text This is some text about the item
                    a.btn.btn-primary(href="#") Optional CTA
              .item
                .home-slide
                  img(src='//source.unsplash.com/1024x600', alt='Image')
                  .overlay
                    p.text This is some text about the item
                    a.btn.btn-primary(href="#") Optional CTA

    section.padding-top-2x.padding-bottom-2x
      .container
        h3.text-lg.text-uppercase.margin-top-0 Upcoming Auctions
        hr.margin-bottom-1x
        .owl-carousel(data-owl-carousel='{ "nav": false, "dots": true, "loop": true, "margin": 30, "autoplayTimeout": 4000, "responsive": {"0":{"items":1},"630":{"items":2},"991":{"items":3},"1200":{"items":4}} }')
          each auction in auctions
            .item
              include partials/auction-card

    section.bg-secondary.padding-top-2x.padding-bottom-2x
      .container
        h3.text-lg.text-uppercase.margin-top-0 Sell With RR
        hr.margin-bottom-1x
        .owl-carousel(data-owl-carousel='{ "nav": false, "dots": true, "loop": true, "margin": 30, "autoplayTimeout": 4000, "responsive": {"0":{"items":1},"630":{"items":2},"991":{"items":3},"1200":{"items":3}} }')
          .item
            .card
              img(src='../img/components/img05.jpg' alt='Card image').card-img-top
              .card-body
                h5.card-title.mb-1 What We Sell
                a(href='#' class='btn btn-primary btn-sm mt-1') View Departments
          .item
            .card
              img(src='../img/components/img05.jpg' alt='Card image').card-img-top
              .card-body
                h5.card-title.mb-1 How To Sell
                a(href='#' class='btn btn-primary btn-sm mt-1') Learn Our 8 Easy Steps
          .item
            .card
              img(src='../img/components/img05.jpg' alt='Card image').card-img-top
              .card-body
                h5.card-title.mb-1 Testimonials
                a(href='#' class='btn btn-primary btn-sm mt-1') View Testimonials


    // Featured Products
    section.container.padding-bottom-1x.mb-2
      h2.h3.py-3.my-3.text-center Featured Lots
      .owl-carousel(data-owl-carousel='{ "nav": false, "dots": true, "loop": true, "margin": 30, "autoplayTimeout": 4000, "responsive": {"0":{"items":1},"630":{"items":2},"991":{"items":3},"1200":{"items":4}} }')
        .item
          - var item = {image: '/img/rr/items/3410395_1.jpg', title: '#1 Lot title 1', description: 'This is the description of the auction item', now: '$6,000', next: '$6,500'}
          include partials/auction-item
        .item
          - var item = {image: '/img/rr/items/3410393_1.jpg', title: '#2 Lot title 2', description: 'This is the description of the auction item', now: '$6,000', next: '$6,500'}
          include partials/auction-item
        .item
          - var item = {image: '/img/rr/items/3410394_2.jpg', title: '#3 Lot title 3', description: 'This is the description of the auction item', now: '$6,000', next: '$6,500'}
          include partials/auction-item
        .item
          - var item = {image: '/img/rr/items/3410396_1.jpg', title: '#4 Lot title 4', description: 'This is the description of the auction item', now: '$6,000', next: '$6,500'}
          include partials/auction-item
        .item
          - var item = {image: '/img/rr/items/3410394_2.jpg', title: '#5 Lot title 5', description: 'This is the description of the auction item', now: '$6,000', next: '$6,500'}
          include partials/auction-item
      .text-center.mt-3
        a.btn.btn-outline-secondary(href="#") View All Lots

    // Staff Picks (Widgets)
    section.container.padding-top-1x.padding-bottom-1x
      h2.h3.pb-3.text-center Remarkable Results
      .row.pt-1
        .col-md-4.col-sm-6
          .widget.widget-featured-products
            h3.widget-title Space & Aviation
            // Entry
            .entry
              .entry-thumb
                a(href='/t21-auction-item-detail.html')
                  img(src='//d9qs7xii78j0x.cloudfront.net/content/images/555/scans/3411272_1.jpg', alt='Product')
              .entry-content
                h4.entry-title
                  a(href='/t21-auction-item-detail.html') Ameilia Airheart
                span.entry-meta Sold For: $287.99
            // Entry
            .entry
              .entry-thumb
                a(href='/t21-auction-item-detail.html')
                  img(src='//d9qs7xii78j0x.cloudfront.net/content/images/555/scans/3410653_1.jpg', alt='Product')
              .entry-content
                h4.entry-title
                  a(href='/t21-auction-item-detail.html') Charles Lindbergh
                span.entry-meta Sold For: $95.99
            // Entry
            .entry
              .entry-thumb
                a(href='/t21-auction-item-detail.html')
                  img(src='//d9qs7xii78j0x.cloudfront.net/content/images/555/scans/3410543_1.jpg', alt='Product')
              .entry-content
                h4.entry-title
                  a(href='/t21-auction-item-detail.html') Orville Wright
                span.entry-meta Sold For: $89.70
            a(href='shop-grid-ls.html').btn.btn-outline-secondary.btn-sm.mb-0 View More
        .col-md-4.col-sm-6
          .widget.widget-featured-products
            h3.widget-title Supreme Court
            // Entry
            .entry.pb-2
              .entry-thumb
                a(href='/t21-auction-item-detail.html')
                  img(src='//d9qs7xii78j0x.cloudfront.net/content/images/555/scans/3410393_1.jpg', alt='Product')
              .entry-content
                h4.entry-title
                  a(href='/t21-auction-item-detail.html') Potter Stewart
                span.entry-meta $1,450.00
            // Entry
            .entry
              .entry-thumb
                a(href='/t21-auction-item-detail.html')
                  img(src='//d9qs7xii78j0x.cloudfront.net/content/images/555/scans/3410394_2.jpg', alt='Product')
              .entry-content
                h4.entry-title
                  a(href='/t21-auction-item-detail.html') Fred Vinson
                span.entry-meta Sold For: $910.00
            // Entry
            .entry
              .entry-thumb
                a(href='/t21-auction-item-detail.html')
                  img(src='//d9qs7xii78j0x.cloudfront.net/content/images/555/scans/3410395_1.jpg', alt='Product')
              .entry-content
                h4.entry-title
                  a(href='/t21-auction-item-detail.html') Earl Warren
                span.entry-meta Sold For: $298.99
            a(href='shop-grid-ls.html').btn.btn-outline-secondary.btn-sm.mb-0 View More
        .col-md-4.col-sm-6
          .widget.widget-featured-products
            h3.widget-title Sports
            // Entry
            .entry.pb-2
              .entry-thumb
                a(href='/t21-auction-item-detail.html')
                  img(src='//d9qs7xii78j0x.cloudfront.net/content/images/555/scans/3392389_1.jpg', alt='Product')
              .entry-content
                h4.entry-title
                  a(href='/t21-auction-item-detail.html') 1933 Goudey #60 Waite Hoyt PSA NM 7
                span.entry-meta Sold For: $68.00
            // Entry
            .entry
              .entry-thumb
                a(href='/t21-auction-item-detail.html')
                  img(src='//d9qs7xii78j0x.cloudfront.net/content/images/555/scans/3392471_1.jpg', alt='Product')
              .entry-content
                h4.entry-title
                  a(href='/t21-auction-item-detail.html') 1939 Play Ball #30 Bill Dickey PSA NM 7
                span.entry-meta Sold For: $839.99
            // Entry
            .entry
              .entry-thumb
                a(href='/t21-auction-item-detail.html')
                  img(src='//d9qs7xii78j0x.cloudfront.net/content/images/555/scans/3410213_1.jpg', alt='Product')
              .entry-content
                h4.entry-title
                  a(href='/t21-auction-item-detail.html') 1972 Topps #622 MVP Award - Signed by Roger Maris and Stan Musial - PSA/DNA Encapsulated
                span.entry-meta Sold For: $28.99
            a(href='shop-grid-ls.html').btn.btn-outline-secondary.btn-sm.mb-0 View More

    // Popular Brands Carousel
    section.bg-secondary.padding-top-2x.padding-bottom-2x
      .container
        h2.h3.text-center.mb-30.pb-3 Featured On
        .owl-carousel(data-owl-carousel='{ "nav": false, "dots": false, "loop": true, "autoplay": true, "autoplayTimeout": 4000, "responsive": {"0":{"items":2}, "470":{"items":3},"630":{"items":4},"991":{"items":5},"1200":{"items":6}} }')
          img(src='/img/rr/logos/fox.png', alt='Fox').d-block.w-110.opacity-75.m-auto
          img(src='/img/rr/logos/times.png', alt='Times').d-block.w-110.opacity-75.m-auto
          img(src='/img/rr/logos/forbes.svg', alt='Forbes').d-block.w-110.opacity-75.m-auto
          img(src='/img/rr/logos/today.jpg', alt='Today Show').d-block.w-110.opacity-75.m-auto
