extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var parentMenu = 'Home'
  - var pageTitle = 'T02 - How To Buy'
  - var menuTitle = 'Home'
  - var pageTitle = 'T02 - How To Buy'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'T02 - How To Buy'}]

//- Page Content
block content
  .how-to-buy-page.padding-bottom-3x
    .container
      .row
        .col-md-4.mb-3.mb-md-0
          nav.list-group(role='tablist')
            a(href='#before-auction' data-toggle='tab' role='tab').list-group-item.active.tab-and-scroll Before The Auction
            a(href='#during-auction' data-toggle='tab' role='tab').list-group-item.tab-and-scroll During The Auction
            a(href='#after-auction' data-toggle='tab' role='tab').list-group-item.tab-and-scroll After The Auction
            a(href='#trade-services' data-toggle='tab' role='tab').list-group-item.tab-and-scroll Trade Services
            a(href='#faq' data-toggle='tab' role='tab').list-group-item.tab-and-scroll Frequently Asked Questions
            a(href='/t22-terms.html').list-group-item Terms & Conditions

        .col-md-8
          .tab-content
            div(id='before-auction' class='tab-pane fade show active' role='tabpanel')
              h2 Auction Catalogs
              p Our printed auction catalogues are published in advance of each sale and contain detailed descriptions of the property being offered and the pre-sale estimate for each lot. The catalogues are available for purchase by contacting the Client Services Department at 212-427-4141, ext. 203.
              a.btn.btn-outline-primary(href='#') Download Catalog Subscription Form
              hr.mt-3.mb-3
              h2 Online Catalogs
              p Our printed auction catalogues are published in advance of each sale and contain detailed descriptions of the property being offered and the pre-sale estimate for each lot. The catalogues are available for purchase by contacting the Client Services Department at 212-427-4141, ext. 203.
              a.btn.btn-outline-primary(href='#') View Current Catalogs
              a.btn.btn-outline-primary(href='#') View Past Catalogs
              hr.mt-3.mb-3
              h2 Gallery Exhibition
              p For several days prior to each auction, the property in the sale is exhibited in our salesroom. The viewing is open to the public and is free of charge. Buyers are encouraged to examine the items in person and speak with our staff about pieces they find interesting. Because all property is sold "as is," it is important to request a Condition Report. Condition Reports are subject to our Conditions of Sale. They are supplied free of charge by our specialists and may be requested through our Client Services Department.

            div(id='during-auction' class='tab-pane fade' role='tabpanel')
              p
                strong Change in Live Online Bidding Policy: BidLive! with No Additional Fees
              p Experience the excitement of bidding live at auction from anywhere in the world with our newly relaunched online bidding platform, BidLive!  Use your computer or mobile device to place bids in real time as the auction progresses. Purchases made using BidLive! are no longer subject to a 4% fee – this bidding capability is now provided
                strong  at no charge.
              p On the day of the auction, click the red BidLive! icon at the top right of our home page and sign in to access the bidding console. It could not be easier or more convenient!
              p
                em All purchases regardless of bidding method are subject to the Buyer's Premium and appropriate Sales Tax.
              hr.mt-3.mb-3
              h2 Bidding In Person
              p Doyle's fully illustrated Internet catalogues allow collectors around the world to conveniently view the property being offered at Doyle and participate at the auction. These free catalogues provide full catalogue descriptions, thumbnail illustrations, estimates and interactive tools, including direct communication with our specialists, the ability to leave absentee bids and bid in real time, and the ability to track lots in which you have an interest.
              a(href="/t22-terms.html").btn.btn-outline-primary Terms & Conditions
              hr.mt-3.mb-3
              h2 Telephone Bidding
              p Clients unable to attend the sale may still participate live at the auction by bidding on the telephone with a trained staff member. Please note that telephone bidding is typically reserved for those lots with a minimum estimate of at least $2,000. Overseas bidders and clients bidding from a cell phone may be asked to leave a safety bid which will function as an absentee bid should the call fail. The completed and signed bid forms must be received by Doyle no later than 5pm (EST) on the evening before the auction. Telephone bids cannot be arranged on the day of the sale.
              a.btn.btn-outline-primary(href='#') Download an Absentee / Telephone Bid Form
              a.btn.btn-outline-primary(href='/t22-terms.html') Terms & Conditions
              hr.mt-3.mb-3
              h2 Absentee Bidding
              p For buyers unable to participate live in the salesroom or on the telephone, Doyle offers the option of leaving Absentee Bids, also known as left bids or order bids. Absentee Bids work exactly as if the bidder were in the salesroom bidding up to a pre-determined price limit, except that the price limit is confidentially given to Doyle. Our auctioneer will bid on your behalf alternately against other bidders until the bidding ends. In the event that the other bidders drop out before reaching the full amount of your left bid, you will purchase the lot at the next increment . The completed and signed bid forms must be received by Doyle no later than 5pm (EST) on the evening before the auction.
              a.btn.btn-outline-primary(href='#') Download an Absentee / Telephone Bid Form
              a.btn.btn-outline-primary(href='#') Bid Increments
              a.btn.btn-outline-primary(href='/t22-terms.html') Terms & Conditions
              hr.mt-3.mb-3
              h2 Submitting Absentee Bids Online
              p Buyers may conveniently leave absentee bids on our Web site through our Internet catalogues. These bids are executed at the auction in the same fashion as an absentee bid (see above). Internet bids may be submitted until 8am (EST) on the morning of the sale. First time Internet bidders must register prior to bidding (click the SIGN IN button at the top right, then click the REGISTER NOW button). This process can take up to 24 hours.
              a.btn.btn-outline-primary(href='#') Register Now
              a.btn.btn-outline-primary(href='/t22-terms.html') Terms & Conditions
              hr.mt-3.mb-3
              h2 Live Online Bidding
              p BidLive! with your computer or mobile device! Bidders from around the world now can experience the excitement of bidding live at Doyle. Simply sign in at Doyle.com, then register to bid live in real time in an upcoming sale. It couldn't be easier or more convenient.
              strong SYSTEM REQUIREMENTS
              ul
                li Requirement 1
                li Requirement 2
                li Requirement 3
                li Requirement 4
              p Doyle does not guarantee that live Internet bidding will be uninterrupted or without error, or that Internet bids will be received.
              a.btn.btn-outline-primary(href='#') Register for Live Online Bidding
            div(id='after-auction' class='tab-pane fade' role='tabpanel')
              p Congratulations on your successful bidding! The next step is to pay for and pick up your purchases.
              hr.mt-3.mb-3
              h2 Methods of Payment
              p Accepted forms of payment include cash or check made payable in US dollars drawn on a US bank, unless other arrangements are made with Purchaser Accounts. Invoices greater than $5,000 require payment by certified check, bank check or wire transfer. Credit cards are not accepted for payment of auction purchases. Doyle reserves the right to hold merchandise purchased by personal check until the check has cleared the bank.
              hr.mt-3.mb-3
              h2 Buyer's Premium
              p The invoice will include the successful hammer price of the item and the buyer's premium.
              p
                strong NOTICE OF CHANGE IN THE BUYER'S PREMIUM:
                |  Beginning on October 15, 2017, auction purchases at Doyle will be subject to a new buyer’s premium. The buyer’s premium will be 25% on the first $300,000 of the hammer price, 20% on the portion from $300,001 through $3,000,000, and 12.5% on that portion of the hammer price exceeding $3,000,000. Applicable sales tax will also be added to the final total. All sales are final and subject to the Conditions of Sale.
              a.btn.btn-outline-primary(href='#') Conditions of Sale
              hr.mt-3.mb-3
              h2 Pickups
              p Auction purchases should be paid for and picked up at Doyle within 48 hours of the auction. Items left beyond 48 hours may be subject to a storage fee. Please note that the hours for removal of property are Monday through Friday from 8:15am until 4:45pm, except on auction days during which only purchases made that day may be picked up.
              a.btn.btn-outline-primary(href='#') Storage Fees
              hr.mt-3.mb-3
              h2 Shipping
              p Shipping is the responsibility of the buyer. Upon request, our Client Services Department will provide a list of shippers who deliver to destinations within the United States and overseas. Kindly disregard the sales tax if an I.C.C. licensed shipper will ship your purchases anywhere outside the states of New York or California.
              a.btn.btn-outline-primary(href='#') Shippers
            div(id='trade-services' class='tab-pane fade' role='tabpanel')
              p Doyle is pleased to offer Trade Services, an exclusive shopping experience for creative minded industry leaders, influencers and curators in the Design and Decorating field. You will find prestigious estates and collections showcasing property of high style and fabulous design whether vintage, antique or 21st century. If you are looking for unique, one of a kind property for your clients, we hold the key. Visit us and allow your imagination to roam free.
              h2 Benefits for the Trade
              ul
                li Exclusive Concierge assistance during previews or book a private appointment for you and your clients
                li One-on-one tutorials on how to buy at auction
                li Convenient access to Doyle Specialists;
                li Advance notice of upcoming collections and estates
                li Invitations to receptions and special events
              h2 At your service
              p Please contact us for private appointments, further information on our services or how to participate in an auction.
              .row
                .col
                  p
                    | Janice L. Youngren
                    br
                    | VP, Director of Client Services
                    br
                    | 212-427-4141, ext 207
                    br
                    | Janice@Doyle.com
                .col
                  p
                    | Janice L. Youngren
                    br
                    | VP, Director of Client Services
                    br
                    | 212-427-4141, ext 207
                    br
                    | Janice@Doyle.com

            div(id='faq' class='tab-pane fade' role='tabpanel')
              h2 FAQ - Buyers
              hr.mt-3.mb-3
              h3.h4 I won the bid, but now I'm not sure I like the item. Can I cancel the sale?
              p We encourage everyone to bid wisely and responsibly. At the moment the auctioneer says "sold" at the end of the bidding on each lot, the title transfers to the new owner. The sale is final, and there are no returns.
              hr.mt-3.mb-3
              h3.h4 I didn't notice a crack, scratch, or flaw. Can anything be done?
              p The majority of property offered at Doyle comes directly from estates and private collections, and may show signs of use and age. All property is offered in "as is" condition, and prices are not reduced due to pre-existing flaws. We encourage you to thoroughly inspect the property and request a Condition Report prior to bidding. Condition Reports are subject to our Conditions of Sale. They are supplied free of charge by our specialists and may be requested through our Client Services Department at 212-427-2730.
              a.btn.btn-outline-primary(href='#') Conditions of Sale
