extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var parentMenu = 'Home'
  - var pageTitle = 'T02 - Form Page'
  - var menuTitle = 'Hero Slider'
  - var pageTitle = 'T02 - Form Page'
  - var isFormPageModal = true
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'T02 - Form Page'}]

  //- - var isHeader = false

//- Page Content
block content
  - var formSent = false
  include partials/t02-content
