extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var parentMenu = 'Home'
  - var pageTitle = 'T02 - How To Buy'
  - var menuTitle = 'Home'
  - var pageTitle = 'T02 - How To Buy'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'T02 - How To Buy'}]

//- Page Content
block content
  .how-to-buy-page.padding-bottom-3x
    .container
      .row
        .col-md-4.mb-3.mb-md-0
          nav.list-group(role='tablist')
            a(href='#before-auction' data-toggle='tab' role='tab').list-group-item.active.tab-and-scroll Before The Auction
            a(href='#during-auction' data-toggle='tab' role='tab').list-group-item.tab-and-scroll During The Auction
            a(href='#after-auction' data-toggle='tab' role='tab').list-group-item.tab-and-scroll After The Auction
            a(href='#trade-services' data-toggle='tab' role='tab').list-group-item.tab-and-scroll Trade Services
            a(href='#faq' data-toggle='tab' role='tab').list-group-item.tab-and-scroll Frequently Asked Questions
            a(href='/t22-terms.html').list-group-item Terms & Conditions

        .col-md-8
          .tab-content
            div(id='before-auction' class='tab-pane fade show active' role='tabpanel')
              h2 Eu duis consectetur nulla sint.
              p Consequat exercitation reprehenderit culpa ad deserunt eu sunt ut do. Duis in ipsum irure Lorem ipsum qui elit incididunt consequat laborum. Exercitation et magna velit adipisicing culpa velit ullamco elit ad. Do labore veniam exercitation nisi eiusmod exercitation eu excepteur pariatur. Ut sint consectetur labore nostrud cillum reprehenderit tempor laboris.
              a.btn.btn-outline-primary(href='#') Download Catalog Subscription Form
              hr.mt-3.mb-3
              h2 Eu duis consectetur nulla sint.
              p Consequat exercitation reprehenderit culpa ad deserunt eu sunt ut do. Duis in ipsum irure Lorem ipsum qui elit incididunt consequat laborum. Exercitation et magna velit adipisicing culpa velit ullamco elit ad. Do labore veniam exercitation nisi eiusmod exercitation eu excepteur pariatur. Ut sint consectetur labore nostrud cillum reprehenderit tempor laboris.
              a.btn.btn-outline-primary(href='#') View Current Catalogs
              a.btn.btn-outline-primary(href='#') View Past Catalogs
              hr.mt-3.mb-3
              h2 Eu duis consectetur nulla sint.
              p Consequat exercitation reprehenderit culpa ad deserunt eu sunt ut do. Duis in ipsum irure Lorem ipsum qui elit incididunt consequat laborum. Exercitation et magna velit adipisicing culpa velit ullamco elit ad. Do labore veniam exercitation nisi eiusmod exercitation eu excepteur pariatur. Ut sint consectetur labore nostrud cillum reprehenderit tempor laboris.

            div(id='during-auction' class='tab-pane fade' role='tabpanel')
              p
                strong Esse elit nostrud elit deserunt.
              p Commodo officia cillum minim minim amet eu amet irure esse voluptate labore. Cillum duis excepteur nisi magna cillum eu duis est commodo esse officia voluptate exercitation elit. Quis quis id consectetur minim. Ex proident consequat aute fugiat ipsum laboris. Anim laborum magna aliqua ex aute non non exercitation ex. Veniam non elit ullamco cupidatat laborum culpa excepteur eiusmod sint eiusmod. Culpa duis sint reprehenderit sunt aliqua esse commodo sunt dolore occaecat amet elit commodo dolore.
                strong  Culpa culpa sunt nulla dolore consectetur tempor sint velit dolor ea velit ea.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium id hic vero architecto. Ea ipsum natus veniam quos at numquam dolore saepe ducimus possimus quasi. Nihil tempora architecto animi consequatur!
              p
                em Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi voluptas quas dicta rem voluptatum alias, officia assumenda! Itaque, nulla eligendi inventore ipsum iusto ipsam fugit quis? Asperiores minima adipisci quisquam!
              hr.mt-3.mb-3
              h2 Lorem, ipsum dolor.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos maxime error repudiandae corporis delectus dolor possimus asperiores, incidunt neque fugit debitis sapiente perferendis veritatis. Molestiae cum dolorum maiores quisquam. Sint?
              a(href="/t22-terms.html").btn.btn-outline-primary Terms & Conditions
              hr.mt-3.mb-3
              h2 Lorem, ipsum.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam asperiores ab temporibus veniam reiciendis vitae, placeat veritatis voluptatibus, odio similique facere molestias omnis aut ex cum sequi dolorum iste illum.
              a.btn.btn-outline-primary(href='#') Download an Absentee / Telephone Bid Form
              a.btn.btn-outline-primary(href='/t22-terms.html') Terms & Conditions
              hr.mt-3.mb-3
              h2 Lorem, ipsum.
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam perspiciatis, ipsa commodi voluptatem repellendus ad veritatis, corrupti nesciunt saepe exercitationem inventore! Ab a nesciunt officiis repellendus ea inventore reprehenderit consequatur.
              a.btn.btn-outline-primary(href='#') Download an Absentee / Telephone Bid Form
              a.btn.btn-outline-primary(href='#') Bid Increments
              a.btn.btn-outline-primary(href='/t22-terms.html') Terms & Conditions
              hr.mt-3.mb-3
              h2 Lorem ipsum dolor sit.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe harum amet, quod corrupti aspernatur dignissimos magnam laboriosam sequi ex quam cumque voluptatem unde eligendi repellendus? Rerum laboriosam repudiandae omnis quisquam.
              a.btn.btn-outline-primary(href='#') Register Now
              a.btn.btn-outline-primary(href='/t22-terms.html') Terms & Conditions
              hr.mt-3.mb-3
              h2 Lorem, ipsum dolor.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum rerum suscipit exercitationem expedita modi quos quae dignissimos temporibus itaque, ea eveniet, nesciunt ipsam architecto amet a accusantium. Veniam, autem dolores.
              strong Lorem, ipsum dolor.
              ul
                li Requirement 1
                li Requirement 2
                li Requirement 3
                li Requirement 4
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed laboriosam similique quasi itaque illo, facilis at perspiciatis fugiat maiores omnis ab. Nostrum itaque sint cum quas, doloremque rem eius ullam.
              a.btn.btn-outline-primary(href='#') Register for Live Online Bidding
            div(id='after-auction' class='tab-pane fade' role='tabpanel')
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, eveniet similique! At.
              hr.mt-3.mb-3
              h2 Lorem, ipsum dolor.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum earum ullam iusto voluptates amet cupiditate animi est voluptatibus voluptatem, reprehenderit molestiae quo, minima aliquam enim sunt nemo delectus cum rem?
              hr.mt-3.mb-3
              h2 Lorem, ipsum dolor.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptates eveniet animi laudantium est tempora. Quod consequatur enim doloribus temporibus!
              p
                strong Lorem ipsum dolor sit amet consectetur.
                |  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum iure officiis sequi itaque repudiandae doloribus iusto laboriosam totam. Laborum eveniet consequuntur inventore rerum cupiditate earum recusandae, dolor aliquid, reiciendis nulla nam iusto eligendi provident minus commodi ipsa voluptatibus, nostrum libero!
              a.btn.btn-outline-primary(href='#') Conditions of Sale
              hr.mt-3.mb-3
              h2 Lorem.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet corrupti sed quibusdam maiores commodi reprehenderit alias praesentium modi quod earum. Saepe nulla vitae nam minima explicabo unde animi vel commodi.
              a.btn.btn-outline-primary(href='#') Storage Fees
              hr.mt-3.mb-3
              h2 Lorem.
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos molestias accusantium nam, illum sapiente similique quae ut mollitia quas laborum minus natus. Rem, blanditiis ut quos sed quae dignissimos molestiae!Praesentium aliquid eos reprehenderit, eaque dolores ratione laudantium libero facere repudiandae accusamus. Eius perspiciatis laboriosam qui, deleniti numquam hic excepturi quas, quod eveniet dignissimos, sunt expedita quae? Magni, voluptatibus quia.Fuga expedita corporis sint natus quia possimus sed consequuntur praesentium culpa. Ipsa, nobis rem id quidem ullam maxime ut veniam. Repudiandae, quisquam magni quasi quis harum odit! Maiores, praesentium adipisci.Officiis dolor debitis vitae numquam harum minima, asperiores sequi dignissimos consequuntur distinctio iure suscipit dicta nulla at, ad qui doloribus sed fuga accusantium? Beatae, eum voluptatibus. Molestiae aliquam libero ex?Non iusto illo sunt, veniam eum hic quia quaerat labore commodi omnis distinctio quas architecto ipsam recusandae veritatis perspiciatis totam vitae quae beatae repudiandae. Vel expedita doloribus iure dolores illum.
              a.btn.btn-outline-primary(href='#') Shippers
            div(id='trade-services' class='tab-pane fade' role='tabpanel')
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos animi exercitationem repellat ipsum quis? Minus neque vitae totam illo, voluptatem similique recusandae debitis, laborum sint ad in! Saepe, id minus!
              h2 Lorem ipsum dolor sit.
              ul
                li Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, earum?
                li Lorem ipsum dolor sit amet consectetur.
                li Lorem ipsum dolor sit amet consectetur adipisicing elit.
                li Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis?
                li Lorem ipsum dolor sit.
              h2 Lorem, ipsum dolor.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur excepturi aliquid sed similique, iusto totam asperiores magni ducimus molestias ut non nobis magnam porro explicabo officia. Ab saepe laboriosam temporibus.
              .row
                .col
                  p
                    | Firstname M. Lastname
                    br
                    | Position
                    br
                    | 123-456-7890
                    br
                    | email@email.com
                .col
                  p
                    | Firstname M. Lastname
                    br
                    | Position
                    br
                    | 123-456-7890
                    br
                    | email@email.com

            div(id='faq' class='tab-pane fade' role='tabpanel')
              h2 Lorem, ipsum dolor.
              hr.mt-3.mb-3
              h3.h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, dolore.
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta ex magnam harum iusto ad sint magni saepe iste, eos necessitatibus placeat animi recusandae nesciunt unde praesentium, mollitia velit voluptatum reprehenderit!
              hr.mt-3.mb-3
              h3.h4 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum unde labore adipisci?
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, vel reiciendis. Asperiores officia recusandae repellendus iure libero dicta pariatur assumenda, vel quisquam aspernatur autem voluptatum laborum distinctio ab est impedit.
              a.btn.btn-outline-primary(href='#') Lorem, ipsum dolor.
