extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var parentMenu = 'Home'
  - var pageTitle = 'T02 - How To Buy'
  - var menuTitle = 'Home'
  - var pageTitle = 'T02 - How To Buy'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'T02 - How To Buy'}]

//- Page Content
block content
  .how-to-buy-page.padding-bottom-3x
