extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var parentMenu = 'Home'
  - var pageTitle = 'T03 How To Sell'
  - var menuTitle = 'Home'
  - var pageTitle = 'T03 How To Sell'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'T03 How To Sell'}]

//- Page Content
block content
  .how-to-buy-page.padding-bottom-3x
    .container
      .row
        .col-md-4.mb-3.mb-md-0
          nav.list-group(role='tablist')
            a(href='#why-sell' data-toggle='tab' role='tab').list-group-item.active.tab-and-scroll Why Sell at RR?
            a(href='#obtain' data-toggle='tab' role='tab').list-group-item.tab-and-scroll Obtaining an Auction Estimate
            a(href='#selling' data-toggle='tab' role='tab').list-group-item.tab-and-scroll Selling Your Property
            a(href='#after-auction' data-toggle='tab' role='tab').list-group-item.tab-and-scroll After The Auction
            a(href='#faq' data-toggle='tab' role='tab').list-group-item.tab-and-scroll Frequently Asked Questions
            a(href='/t22-terms.html').list-group-item Terms & Conditions

        .col-md-8
          .tab-content
            div(id='why-sell' class='tab-pane fade show active' role='tabpanel')
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita, doloremque modi nobis iste, ipsam quaerat qui ea quia iure alias atque officiis odio distinctio, dolor corrupti quis possimus libero iusto.

            div(id='obtain' class='tab-pane fade' role='tabpanel')
              h2 Lorem, ipsum dolor.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, saepe voluptates tenetur error libero illo a sapiente quasi voluptate ullam eum! Quos dolore possimus et illum doloremque incidunt, accusamus commodi!
              hr.mt-3.mb-3
              h2 Lorem ipsum dolor sit amet.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur exercitationem ipsum molestiae, porro a, obcaecati quaerat unde eos nulla sed architecto sequi magni mollitia vero nemo consectetur voluptate, dignissimos harum.
              .card.mb-3
                .card-header
                  span.text-lg Lorem, ipsum.
                .card-body
                  .row
                    .col-md-6.text-center.mb-3.mb-md-0
                      img(src="//source.unsplash.com/160x160", alt="Online").mb-2
                      h4 Lorem
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur iste laborum quas.
                      a.btn.btn-outline-primary(href="#") Lorem, ipsum dolor.
                    .col-md-6.text-center
                      img(src="//source.unsplash.com/160x160", alt="Email").mb-2
                      h4 Lorem
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur iste laborum quas.
                      a.btn.btn-outline-primary(href="#") Lorem, ipsum dolor.
              .card.mb-3
                .card-header
                  span.text-lg Other Options
                .card-body
                  .row
                    .col-md-6.text-center.mb-3.mb-md-0
                      img(src="//source.unsplash.com/160x160", alt="Mail").mb-2
                      h4 Lorem
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur iste laborum quas.
                      a.btn.btn-outline-primary(href="#") Lorem, ipsum dolor.
                    .col-md-6.text-center
                      img(src="//source.unsplash.com/160x160", alt="Phone").mb-2
                      h4 Lorem
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur iste laborum quas.
                      a.btn.btn-outline-primary(href="tel:+5555555555") Call 555-555-5555
              hr.mt-4.mb-3
              h2 Lorem, ipsum dolor.
              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium nobis error ab voluptatibus eaque itaque facere voluptate officia corporis repellat accusamus, quisquam deserunt! Consequatur consequuntur et cum, odit eos itaque.
            div(id='selling' class='tab-pane fade' role='tabpanel')
              h2 Lorem, ipsum dolor.
              p RR provides two options to those seeking to sell their property:
              .bg-light.p3.mb-3
                ol
                  li
                    p.text-muted.mb-0 Lorem, ipsum dolor.
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione facilis cum itaque nihil ad placeat corrupti doloremque dicta odio, voluptate ipsum laudantium et, quibusdam exercitationem unde ab minus a distinctio!
                  li
                    p.text-muted.mb-0 Lorem, ipsum dolor.
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis consequuntur asperiores reiciendis labore, iusto nam distinctio dolores eligendi laborum perferendis a laudantium consequatur temporibus ad aperiam praesentium, voluptate cupiditate laboriosam?
              h2 Lorem, ipsum dolor.
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime numquam iste nostrum omnis, modi quasi provident non dolorem suscipit illo laboriosam consequuntur praesentium, asperiores velit officiis autem officia alias maiores.
              h2 Lorem
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, voluptatem aspernatur. Cupiditate omnis incidunt ipsam deleniti nemo nisi sit magni dolor perferendis expedita perspiciatis eius aut excepturi, voluptas autem asperiores!

            div(id='after-auction' class='tab-pane fade show' role='tabpanel')
              h2 Lorem.
              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas nostrum beatae quibusdam suscipit iste odio fugiat voluptatum, dignissimos corrupti atque at explicabo, quidem, veniam officiis dolor eius facilis voluptatem quisquam.
              h2 Lorem.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore modi voluptatibus omnis nesciunt est quidem, in quae. Itaque nostrum reprehenderit culpa similique illo minima facere eligendi accusantium quas. In, doloremque?

            div(id='faq' class='tab-pane fade' role='tabpanel')
              h2 Lorem, ipsum.
              hr.mt-3.mb-3
              h3.h4 Lorem ipsum dolor sit?
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto rem dolores soluta molestias, quod enim optio magnam ullam quas quam, assumenda esse at quasi consequatur dolorem natus ut nemo nam.
                a(href="#") link in the text
                | Lorem, ipsum dolor.
              hr.mt-3.mb-3
              h3.h4 Lorem ipsum dolor sit amet consectetur?
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio eos animi a, vel sequi, dolor consectetur nesciunt quisquam ab iusto, quasi facere eaque sapiente quidem aut quam laudantium perspiciatis commodi?
              hr.mt-3.mb-3
              h3.h4 Lorem ipsum dolor sit amet?
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae ea enim corporis consectetur optio libero perferendis molestiae, tempore autem vel corrupti totam aliquam mollitia impedit nostrum tenetur, labore sint? Ut.
              hr.mt-3.mb-3
              h3.h4 Lorem ipsum dolor sit, amet consectetur adipisicing elit?
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis totam mollitia soluta iste deleniti animi, nesciunt dolores, similique nemo illo a autem porro minima reiciendis rem quos laudantium iusto amet.
              hr.mt-3.mb-3
              h3.h4 Lorem ipsum dolor sit?
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas porro voluptates ipsam ipsa eum deserunt, fugit voluptatum eos, atque nulla, nobis aliquam dolorem pariatur molestias provident harum facere impedit. Doloribus?
              hr.mt-3.mb-3
              h3.h4 Lorem ipsum dolor sit amet consectetur?
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit molestiae cupiditate molestias sequi aut nulla, enim perferendis. Dolorem tempora neque in. Nesciunt consequuntur harum voluptate repudiandae laborum! Officia, rem alias!
              hr.mt-3.mb-3
              h3.h4 Lorem ipsum dolor sit amet?
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus cum, molestiae delectus minus, cupiditate ducimus quidem natus vitae voluptate iure qui labore? Impedit!
