extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var parentMenu = 'Home'
  - var pageTitle = 'T03 How To Sell'
  - var menuTitle = 'Home'
  - var pageTitle = 'T03 How To Sell'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'T03 How To Sell'}]

//- Page Content
block content
  .how-to-buy-page.padding-bottom-3x
    .container
      .row
        .col-md-4.mb-3.mb-md-0
          nav.list-group(role='tablist')
            a(href='#why-sell' data-toggle='tab' role='tab').list-group-item.active Why Sell at RR?
            a(href='#obtain' data-toggle='tab' role='tab').list-group-item Obtaining an Auction Estimate
            a(href='#selling' data-toggle='tab' role='tab').list-group-item Selling Your Property
            a(href='#after-auction' data-toggle='tab' role='tab').list-group-item After The Auction
            a(href='#faq' data-toggle='tab' role='tab').list-group-item Frequently Asked Questions
            a(href='/t22-terms.html').list-group-item Terms & Conditions

        .col-md-8
          .tab-content
            div(id='why-sell' class='tab-pane fade show active' role='tabpanel')
              img.img-fluid.mb-3(src='//source.unsplash.com/1024x768')
              p At Doyle we commit our renowned expertise, vast experience, market knowledge and global outreach to every sale. The numerous auction records set in our salesrooms are testimony to the advantages of selling your property at Doyle. In order to make the auction process as easy and convenient as possible, our team of dedicated professionals will guide you through the entire appraisal and auction procedure.

            div(id='obtain' class='tab-pane fade' role='tabpanel')
              img.img-fluid.mb-3(src='//source.unsplash.com/1024x768')
              h2 The Auction Estimate
              p The first step in selling property at auction is to obtain a free informal auction estimate of the item. This value range is based upon the specialist's expertise and knowledge of what similar items are fetching in the current auction market. You will also be provided with information on the appropriate auction, a timetable and an explanation of our terms of sale.
              hr.mt-3.mb-3
              h2 Submitting Property for Evaluation
              p Doyle's specialists employ their expertise to provide free and accurate valuations for auction. Requesting an auction estimate is easy and can be done in any of the following convenient ways:
              .card.mb-3
                .card-header
                  span.text-lg Preferred methods
                .card-body
                  .row
                    .col-md-6.text-center.mb-3.mb-md-0
                      img(src="//source.unsplash.com/160x160", alt="Online").mb-2
                      h4 Online
                      p Use our simple online form to submit images and a description of your property.
                      a.btn.btn-outline-primary(href="#") Request an Estimate
                    .col-md-6.text-center
                      img(src="//source.unsplash.com/160x160", alt="Email").mb-2
                      h4 Email
                      p Email us to schedule an appointment for an auction evaluation. You may attach images of your property.
                      a.btn.btn-outline-primary(href="#") Email Us
              .card.mb-3
                .card-header
                  span.text-lg Other Options
                .card-body
                  .row
                    .col-md-6.text-center.mb-3.mb-md-0
                      img(src="//source.unsplash.com/160x160", alt="Mail").mb-2
                      h4 Mail
                      p Download a printable submission form, and mail it to us along with photographs of your property.
                      a.btn.btn-outline-primary(href="#") Download the Form
                    .col-md-6.text-center
                      img(src="//source.unsplash.com/160x160", alt="Phone").mb-2
                      h4 Email
                      p Email us to schedule an appointment for an auction evaluation. You may attach images of your property.
                      a.btn.btn-outline-primary(href="tel:+12124272730") Call 212-427-2730
              hr.mt-4.mb-3
              h2 Regional Consignment Days
              p Doyle's Regional Representatives regularly host Consignment Days in communities throughout our regions, from New England through the Mid-Atlantic to Florida and California, as well as in other areas of the country. These popular events provide ease and convenience for collectors outside of New York who wish to sell their property at Doyle. At these events, we accept property for upcoming auctions in New York and Beverly Hills through both consignment and outright purchase.
            div(id='selling' class='tab-pane fade' role='tabpanel')
              img.img-fluid.mb-3(src='//source.unsplash.com/1024x768')
              h2 Your Selling Options
              p RR provides two options to those seeking to sell their property:
              .bg-light.p3.mb-3
                ol
                  li
                    p.text-muted OUTRIGHT SALE TO RR
                    p Outright purchase of property by Doyle allows the seller the advantage and convenience of immediate payment. Many sellers prefer this method of sale rather than consigning their property to auction and awaiting payment after the successful sale of the items. For further information, please contact our Scheduling Department.
                  li
                    p.text-muted CONSIGNING TO AUCTION
                    p In consigning property to auction, the seller retains ownership until the successful sale of the item at auction. When property is consigned to Doyle for auction, we devote the expertise of our specialists and professional staff to achieving an outstanding price at auction.
              h2 The Consignment Contract
              p When you consign property to Doyle, you will receive two copies of our Consignment Agreement, the legal document delineating the terms of sale. One copy should be initialed, signed and returned; the other kept for your records. Once the property is received in our gallery, you will be sent a Contract Schedule listing the property, the planned sale dates, the estimates and the reserves, along with the agreed upon seller's commission and other related fees.
              h2 Reserves
              p Before an item is offered at auction, the consignor and Doyle may agree on a reserve price: a confidential minimum selling price. Unless a specific reserve is arranged, a discretionary reserve is fixed at fifty percent of the low estimate. If the consignor designates a reserve on a lot, and it remains unsold, there will be a buy-in fee charged on the reserve price.

            div(id='after-auction' class='tab-pane fade show' role='tabpanel')
              img.img-fluid.mb-3(src='//source.unsplash.com/1024x768')
              h2 Results
              p A preliminary settlement statement itemizing the hammer prices, commissions and fees is mailed to the consignor after the auction. For real time sales results, you may view hammer prices or track your consigned property in the MY DOYLE section of our Web site. You may also call us at 212-427-2730 for prices realized.
              h2 Payment
              p Payment to consignors is mailed five weeks after the date of the sale, together with a final settlement statement. The amount of payment is the hammer price of each lot successfully sold, less the commission and any other fees.

            div(id='faq' class='tab-pane fade' role='tabpanel')
              h2 FAQ - Sellers
              hr.mt-3.mb-3
              h3.h4 What do you sell?
              p RR specializes in the Rare & Remarkable across a wide variety of categories, especially unique autographs and artifacts of history and Popular Culture. Presidential, Entertainment, Space Exploration, Technology, and Sports are just a few of the categories we excel in offering at auction. Please view our
                a(href="#") full list of departments
                | for more details.
              hr.mt-3.mb-3
              h3.h4 How do I begin the process?
              p The best way to begin the consignment process is by uploading images of your item(s) along with a brief list on our consignment submission form; you may also email us directly at sell@rrauction.com. Phone calls are also welcome (800) 937-3880.
              hr.mt-3.mb-3
              h3.h4 What is the consignment timeframe?
              p The timeframe for our monthly Fine Autographs & Autographs Auction is about 90 days from the time you mail your items to us until you receive payment. Depending upon the auction and where it falls on our schedule, the cycle may be longer, however, payment is always sent 45-days after the close of the sale.
              hr.mt-3.mb-3
              h3.h4 How to I get my items to you?
              p Our acquisitions representatives will assist you in each step of the selling process, including getting your material to our facilities for cataloging and photography. Depending upon the size and overall quality of the collection, RR will also travel and arrange specialized shipping for larger collections.
              hr.mt-3.mb-3
              h3.h4 What is your consignment commission?
              p Consignment rates may depend upon the quality and quantity of material offered. To discuss rates and further details, please reach out to us for more information sell@rrauction.com or (800) 937-3880.
              hr.mt-3.mb-3
              h3.h4 What if my item doesn’t sell?
              p If your item doesn’t sell, it will be returned to you unless prior arrangements have been made. You may be charged a processing fee for the cost of listing in our print catalog and online.
              hr.mt-3.mb-3
              h3.h4 When will I received payment:
              p Payment is always mailed 45 days after the close of the corresponding sale.
