extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var parentMenu = 'Home'
  - var pageTitle = 'T03 How To Sell'
  - var menuTitle = 'Home'
  - var pageTitle = 'T03 How To Sell'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'T03 How To Sell'}]

//- Page Content
block content
  .how-to-sell-page.padding-bottom-3x
