extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var parentMenu = 'Home'
  - var pageTitle = 'T10 - Specialists'
  - var menuTitle = 'Home'
  - var pageTitle = 'T10 - Specialists'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'T10 - Specialists'}]

//- Page Content
block content

  -
    var specialists = [
      {
        image: '/img/rr/profiles/Bob_Eaton2.jpg',
        categoryTitle: 'Autographs & Manuscripts',
        categoryUrl: '#',
        phone: '(800) 937-3880 ext. 102',
        email: 'Bob.Eaton@RRAuction.com',
        title: 'Bob Eaton',
        text: 'Bob, RR Auction’s owner and founder, has over 40 years of experience as a worldwide respected autograph and historical document appraiser.'
      },
      {
        image: 'https://source.unsplash.com/750x420',
        title: 'Specialist Name 2',
        text: 'Id culpa labore culpa aliquip tempor eu laboris deserunt enim sint enim ut fugiat.'
      },
      {
        image: 'https://source.unsplash.com/750x420',
        title: 'Specialist Name 3',
        text: 'Id culpa labore culpa aliquip tempor eu laboris deserunt enim sint enim ut fugiat.'
      },
      {
        image: 'https://source.unsplash.com/750x420',
        title: 'Specialist Name 4',
        text: 'Id culpa labore culpa aliquip tempor eu laboris deserunt enim sint enim ut fugiat.'
      },
      {
        image: 'https://source.unsplash.com/750x420',
        title: 'Specialist Name 5',
        text: 'Id culpa labore culpa aliquip tempor eu laboris deserunt enim sint enim ut fugiat.'
      },
      {
        image: 'https://source.unsplash.com/750x420',
        title: 'Specialist Name 6',
        text: 'Id culpa labore culpa aliquip tempor eu laboris deserunt enim sint enim ut fugiat.'
      },
      {
        image: 'https://source.unsplash.com/750x420',
        title: 'Specialist Name 7',
        text: 'Id culpa labore culpa aliquip tempor eu laboris deserunt enim sint enim ut fugiat.'
      },
      {
        image: 'https://source.unsplash.com/750x420',
        title: 'Specialist Name 8',
        text: 'Id culpa labore culpa aliquip tempor eu laboris deserunt enim sint enim ut fugiat.'
      }
    ]
  -
    var experts = [
      {
        image: 'https://source.unsplash.com/750x420',
        title: 'Expert Name',
        text: 'Id culpa labore culpa aliquip tempor eu laboris deserunt enim sint enim ut fugiat.'
      },
      {
        image: 'https://source.unsplash.com/750x420',
        title: 'Expert Name 2',
        text: 'Id culpa labore culpa aliquip tempor eu laboris deserunt enim sint enim ut fugiat.'
      },
      {
        image: 'https://source.unsplash.com/750x420',
        title: 'Expert Name 3',
        text: 'Id culpa labore culpa aliquip tempor eu laboris deserunt enim sint enim ut fugiat.'
      },
      {
        image: 'https://source.unsplash.com/750x420',
        title: 'Expert Name 4',
        text: 'Id culpa labore culpa aliquip tempor eu laboris deserunt enim sint enim ut fugiat.'
      },
      {
        image: 'https://source.unsplash.com/750x420',
        title: 'Expert Name 5',
        text: 'Id culpa labore culpa aliquip tempor eu laboris deserunt enim sint enim ut fugiat.'
      },
      {
        image: 'https://source.unsplash.com/750x420',
        title: 'Expert Name 6',
        text: 'Id culpa labore culpa aliquip tempor eu laboris deserunt enim sint enim ut fugiat.'
      },
      {
        image: 'https://source.unsplash.com/750x420',
        title: 'Expert Name 7',
        text: 'Id culpa labore culpa aliquip tempor eu laboris deserunt enim sint enim ut fugiat.'
      },
      {
        image: 'https://source.unsplash.com/750x420',
        title: 'Expert Name 8',
        text: 'Id culpa labore culpa aliquip tempor eu laboris deserunt enim sint enim ut fugiat.'
      }
    ]

  .specialists-page.padding-bottom-3x
    section.padding-bottom-1x
      .container
        .row
          .col-12
            h2.h3.text-center.mb-30 RR Auction Specialists
            .row
              each specialist in specialists
                .col-6.col-sm-4.col-md-3.mb-30
                  include partials/specialist-card
    section.padding-bottom-1x.padding-top-2x.bg-secondary
        .container
          .row
            .col-12
              h2.h3.text-center.mb-30 Services & 3rd Party Experts
              .row
                each specialist in experts
                  .col-6.col-sm-4.col-md-3.mb-30
                    include partials/specialist-card
