extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var parentMenu = 'Home'
  - var pageTitle = 'T11 - Auction Department (Sent)'
  - var menuTitle = 'Home'
  - var pageTitle = 'T11 - Auction Department (Sent)'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'T11 - Auction Department (Sent)'}]

//- Page Content
block content

  -
    var specialist = {
      image: 'https://source.unsplash.com/750x420',
      title: 'Specialist Name',
      text: 'Id culpa labore culpa aliquip tempor eu laboris deserunt enim sint enim ut fugiat.'
    }

  - var formSent = true

  .auction-department-page.padding-bottom-3x
    .container
      .row
        .col-lg-8.col-md-8.order-md-1
          include partials/t11-content
        .col-lg-4.col-md-4.order-md-0
          .sidebar
            .mb-3
              include partials/specialist-card
            hr.mb-3
            include partials/t04-form
