extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var parentMenu = 'Home'
  - var pageTitle = 'T11 - Auction Department (Sent)'
  - var menuTitle = 'Home'
  - var pageTitle = 'T11 - Auction Department (Sent)'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'T11 - Auction Department (Sent)'}]

//- Page Content
block content

  -
    var specialist = {
      image: 'https://source.unsplash.com/750x420',
      title: 'Specialist Name',
      text: 'Id culpa labore culpa aliquip tempor eu laboris deserunt enim sint enim ut fugiat.'
    }

  - var formSent = true

  -
    var auctions = [
      {
        image: '/img/components/img05.jpg',
        title: 'Marvels of Modern Music',
        link: '#',
        date: '27 September 2019 | 03:00 PM EST'
      },
      {
        image: '/img/components/img05.jpg',
        title: 'Marvels of Modern Music',
        link: '#',
        date: '27 September 2019 | 03:00 PM EST'
      },
      {
        image: '/img/components/img05.jpg',
        title: 'Marvels of Modern Music',
        link: '#',
        date: '27 September 2019 | 03:00 PM EST'
      },
      {
        image: '/img/components/img05.jpg',
        title: 'Marvels of Modern Music',
        link: '#',
        date: '27 September 2019 | 03:00 PM EST'
      },
      {
        image: '/img/components/img05.jpg',
        title: 'Marvels of Modern Music',
        link: '#',
        date: '27 September 2019 | 03:00 PM EST'
      },
      {
        image: '/img/components/img05.jpg',
        title: 'Marvels of Modern Music',
        link: '#',
        date: '27 September 2019 | 03:00 PM EST'
      }
    ]

  -
    var auctionItems = [
      {
        badge: 'Sale',
        title: 'Item #1',
        link: '#',
        category: 'George Washington',
        categoryUrl: '#',
        price: '$6002',
        image: '/img/rr/items/3409878_1.jpg'
      },
      {
        title: 'Item #3',
        link: '#',
        category: 'Thomas Jefferson',
        categoryUrl: '#',
        price: '$4202',
        priceOld: '$5000',
        image: '/img/rr/items/3410295_1.jpg'
      },
      {
        title: 'Item #8',
        link: '#',
        category: 'Abraham Lincoln',
        categoryUrl: '#',
        price: '$6134',
        image: '/img/rr/items/3409343_1.jpg'
      },
      {
        title: 'Item #15',
        link: '#',
        category: 'Theodore Roosevelt',
        categoryUrl: '#',
        price: '$783',
        image: '/img/rr/items/3410046_6.jpg'
      }
    ]

  .auction-department-page.padding-bottom-3x
    .container
      .row
        .col-lg-4.col-md-4
          .sidebar
            .mb-3
              include partials/specialist-card
            include partials/t04-form

        .col-lg-8.col-md-8
          include partials/t11-content
