extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var parentMenu = 'Home'
  - var pageTitle = 'T18 - Auction List (Default)'
  - var menuTitle = 'Home'
  - var pageTitle = 'T18 - Auction List (Default)'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'T18 - Auction List (Default)'}]

//- Page Content
block content
  .auction-list-page.padding-bottom-3x
