extends partials/layout

append config
  - var isPageTitle = true
  - var parentMenu = 'Shop'
  - var pageTitleClass = 'page-title no-margin';
  - var pageTitle = 'T18 - Auction List (List -- Full/Search)'
  - var menuTitle = 'Home'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'T18 - Auction List (List -- Full/Search)'}]

//- Page Content
block content

  - var activeView = 'list'

  .auction-list-page.padding-bottom-3x
    .container
      include partials/t18-content
