extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var pageTitleClass = 'page-title no-margin';
  - var parentMenu = 'Home'
  - var pageTitle = 'T19 - Auction List (Tile)'
  - var menuTitle = 'Home'
  - var pageTitle = 'T19 - Auction List (Tile)'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'T19 - Auction List (Tile)'}]

//- Page Content
block content

  - var activeView = 'grid'

  .auction-list-page.padding-bottom-3x
    include partials/auction-header
    .container
      .row
        // Products
        .col-lg-9.order-lg-2
          include partials/t19-content

        .col-lg-3.order-lg-1
          include partials/auction-sidebar
