extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var pageTitleClass = 'page-title no-margin';
  - var parentMenu = 'Home'
  - var pageTitle = 'T19 - Auction List (Tile)'
  - var menuTitle = 'Home'
  - var pageTitle = 'T19 - Auction List (Tile)'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'T19 - Auction List (Tile)'}]

//- Page Content
block content

  - var activeView = 'grid'

  .auction-list-page.padding-bottom-3x
    include partials/auction-header
    .container
      .row
        // Products
        .col-lg-9.order-lg-2
          include partials/auction-toolbar

          .row
            .col-md-4.col-sm-6.mb-30
              - var item = {image: '/img/rr/items/3410396_1.jpg', title: '#23 John F. Kennedy\'s Monogrammed Shaving Kit Used as President', description: 'This is the description of the auction item', now: '$6,000', next: '$6,500'}
              include partials/auction-item
            .col-md-4.col-sm-6.mb-30
              - var item = {image: '/img/rr/items/3410396_1.jpg', title: '#23 John F. Kennedy\'s Monogrammed Shaving Kit Used as President', description: 'This is the description of the auction item', now: '$6,000', next: '$6,500'}
              include partials/auction-item
            .col-md-4.col-sm-6.mb-30
              - var item = {image: '/img/rr/items/3410396_1.jpg', title: '#23 John F. Kennedy\'s Monogrammed Shaving Kit Used as President', description: 'This is the description of the auction item', now: '$6,000', next: '$6,500'}
              include partials/auction-item

          include partials/pagination

        .col-lg-3.order-lg-1
          include partials/auction-sidebar
