extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var parentMenu = 'Home'
  - var pageTitle = 'T19 - Auction List (Tile -- Full/Search)'
  - var menuTitle = 'Home'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'T19 - Auction List (Tile -- Full/Search)'}]

//- Page Content
block content

  - var activeView = 'grid'
  - var colClass = 'col-12 col-sm-4 col-md-3 mb-30'

  .auction-list-page.padding-bottom-3x
    .container
      include partials/t19-content

