extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var pageTitleClass = 'page-title no-margin';
  - var parentMenu = 'Home'
  - var pageTitle = 'T19 - Auction List (Tile)'
  - var menuTitle = 'Home'
  - var pageTitle = 'T19 - Auction List (Tile)'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'T19 - Auction List (Tile)'}]

//- Page Content
block content

  - var activeView = 'grid'

  .auction-list-page.padding-bottom-3x
    include partials/auction-header
    .container
      .row
        // Products
        .col-lg-9.order-lg-2
          include partials/auction-toolbar

          .row
            .col-md-4.col-sm-6.mb-30
              .auction-item
                .auction-item__body
                  img.img-fluid.mb-3(src='//source.unsplash.com/1024x768')
                  a.auction-item__title(href="/t21-auction-item-detail.html")
                    span.text-muted #23
                    span.title: em John F. Kennedy's Monogrammed Shaving Kit Used as President
                  hr.thick.mb-2.mt-3
                  .auction-item__meta
                    div
                      span.title.text-muted Current bid
                      span.value $6,000
                    div
                      span.title.text-muted Next bid
                      span.value $6,500
                    .bid
                      a(href="#").btn.btn-primary.btn-sm Bid
                .auction-item__footer
                  div
                    a(href="#")
                      i.icon-eye
                      span Watch list
                  div
                    a(href="#")
                      i.icon-search
                      span View lot details
            .col-md-4.col-sm-6.mb-30
              .auction-item.auction-item--skin-2
                img.img-fluid(src='//source.unsplash.com/1024x768')
                .auction-item__body
                  a.auction-item__title(href="/t21-auction-item-detail.html")
                    span.title: John F. Kennedy's Monogrammed Shaving Kit Used as President
                  .auction-item__meta
                    div
                      span.title.text-muted.text-uppercase Current bid
                      span.value $6,000
                    .watch
                      a(href="#").btn.btn-outline-primary.btn-sm
                        | Watch
                        i.icon-eye
                  .auction-item__time
                    span.circle
                    span.text 1 Day Left
            .col-md-4.col-sm-6.mb-30
              - var item = {image: '/img/rr/items/3410396_1.jpg', title: '#23 John F. Kennedy\'s Monogrammed Shaving Kit Used as President', description: 'This is the description of the auction item', now: '$6,000', next: '$6,500'}
              include partials/auction-item

          include partials/pagination

        .col-lg-3.order-lg-1
          include partials/auction-sidebar
