extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var parentMenu = 'Home'
  - var pageTitle = 'T20 - Auction List (List)'
  - var menuTitle = 'Home'
  - var pageTitle = 'T20 - Auction List (List)'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'T20 - Auction List (List)'}]

//- Page Content
block content
  .auction-list-page.padding-bottom-3x
