extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var parentMenu = 'Home'
  - var pageTitle = 'T21 - Auction Item Detail (High Bid)'
  - var menuTitle = 'Home'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'Auction Name', 'link': '/t18-auction-list--list.html'}, {'title': 'T21 - Auction Item Detail (High Bid)'}]

//- Page Content
block content
  - var showAlert = true
  - var alertClass = 'alert-success'
  - var alertText = 'You are curreently the high bid. Your bid: $1000. Your max: $2000.'
  - var showCountdown = true
  - var price = 'Now At: $899.00'
  - var showBidCount = true
  - var showForm = true
  - var showRegister = false
  - var registerText = 'Register To Bid'
  - var registerUrl = '/t25-register.html'
  - var showWatch = true
  - var showPrice = true
  - var helperLinks = ['Consign Similar Item', 'Extended Payment']

  .auction-item-detail-page
    include partials/auction-item-detail

