extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var parentMenu = 'Home'
  - var pageTitle = 'T21 - Auction Item Detail'
  - var pageTitleClass = 'page-title no-margin'
  - var menuTitle = 'Home'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'Auction Name', 'link': '/t18-auction-list--list.html'}, {'title': 'T21 - Auction Item Detail'}]

//- Page Content
block content
  .auction-item-detail-page
    .container
      .row
        .col-12
          h2.my-3 Auction Item Title
      .row
        // Poduct Gallery
        .col-md-8
          .product-gallery
            //- .gallery-wrapper
            //-   .gallery-item.video-btn.text-center
            //-     a(href='#' data-toggle='tooltip' data-type="video" data-video='<div class="wrapper"><div class="video-wrapper"><iframe class="pswp__video" width="960" height="640" src="https://www.youtube.com/embed/CjNjcrQZtd8" frameborder="0" allowfullscreen></iframe></div></div>' title='Watch video')
            //- span.product-badge.bg-danger Sale
            .product-carousel.owl-carousel.gallery-wrapper(data-owl-carousel='{ "nav": true, "dots": true, "loop": true }')
              .gallery-item(data-hash='one')
                a(href='//source.unsplash.com/random/450x700?image=1' data-size='450x700')
                  img(src='//source.unsplash.com/random/450x700?image=1' alt='Product')
              .gallery-item(data-hash='two')
                a(href='//source.unsplash.com/random/450x700?image=2' data-size='450x700')
                  img(src='//source.unsplash.com/random/450x700?image=2' alt='Product')
              .gallery-item(data-hash='three')
                a(href='//source.unsplash.com/random/450x700?image=3' data-size='450x700')
                  img(src='//source.unsplash.com/random/450x700?image=3' alt='Product')
              .gallery-item(data-hash='four')
                a(href='//source.unsplash.com/random/450x700?image=4' data-size='450x700')
                  img(src='//source.unsplash.com/random/450x700?image=4' alt='Product')

        // Product Info
        .col-md-4
          .padding-top-2x.mt-2.hidden-md-up
          .row.justify-content-between.mb-3
            .col-4.text-left
              .d-flex.align-items-center
                i.icon-chevron-left.text-primary
                a(href='/t21-auction-item-detail.html')
                  | Previous
            .col-4.text-center
              | Lot 0013
            .col-4.text-right
              .d-flex.align-items-center.justify-content-end
                a(href='/t21-auction-item-detail.html')
                  | Next
                i.icon-chevron-right.text-primary

          .sp-categories.pb-3
            a(href='#') Auction # 123456 - Auction Title
          .product-info-card.bg-secondary
            .auction-header__time
              .countdown(data-date-time='12/30/2019 12:00:00')
                .item
                  .days
                  span.days_ref 0 Days
                .item
                  .hours
                  span.hours_ref 0 Hours
                .item
                  .minutes
                  span.minutes_ref 0 Mins
                .item
                  .seconds
                  span.seconds_ref 0 Seconds
            span.h3.d-flex.align-items-center.mb-2
              | Now At: $899.00
              span.product-badge.bg-primary.ml-2.position-relative 1 bid
            span.h3.d-flex.align-items-center.mb-2
              | Next Bid: $950.00
            form(method='post').mt-3
              .form-group
                label(for="bid") Enter Your Bid
                input(type="text" name="bid" id="bid" placeholder="Enter Your Bid").form-control
              .form-group
                select(id='maxbid').form-control
                  option(selected) Your Maximum Bid
                  option(value='$1000') $1000.00
                  option(value='$1250') $1250.00
                  option(value='$1300') $1300.00
                  option(value='$1350') $1350.00
                  option(value='$1400') $1400.00
                  option(value='$1450') $1450.00
                  option(value='$1500') $1500.00
                  option(value='$1550') $1550.00
                  option(value='$1600') $1600.00
              .form-group
                button(type='submit' style='width: 100%; text-align: center;').btn.btn-primary.d-block Place Bid

            hr.mt-3.mb-3
            a(href="#").btn.btn-outline-primary.d-block
              i.icon-eye
              | &nbsp;Watch Item
            small.text-center.mt-3.text-muted.d-block Estimate: $3000+

          .d-flex.flex-wrap.justify-content-between
            .mt-2.mb-2
              a(href='#').d-block
                | Consign Similar Item
              a(href='#').d-block
                | Extended Payment

            .mt-2.mb-2
              span.text-muted Share:&nbsp;&nbsp;
              .d-inline-block
                a(href='#' data-toggle='tooltip' data-placement='top' title='Facebook').social-button.shape-rounded.sb-facebook
                  i.socicon-facebook
                a(href='#' data-toggle='tooltip' data-placement='top' title='Twitter').social-button.shape-rounded.sb-twitter
                  i.socicon-twitter
                a(href='#' data-toggle='tooltip' data-placement='top' title='Instagram').social-button.shape-rounded.sb-instagram
                  i.socicon-instagram

    // Product Details

    #details.container.padding-top-3x.padding-bottom-2x.mb-3
      .row
        .col-md-8
          .bg-secondary.p-4.mb-3.mb-md-0
            h2.h4 Lot Description
            h3.h5 Details
            p.mb-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
            h3.h5 Features
            ul.list-icon.mb-4
              li
                i.icon-check.text-success
                | Capture 4K30 Video and 12MP Photos
              li
                i.icon-check.text-success
                | Game-Style Controller with Touchscreen
              li
                i.icon-check.text-success
                | View Live Camera Feed
              li
                i.icon-check.text-success
                | Full Control of HERO6 Black
              li
                i.icon-check.text-success
                | Use App for Dedicated Camera Operation
            h3.h5 Specifications
            ul.list-unstyled.mb-0
              li <strong>Weight:</strong> 35.5oz (1006g)
              li <strong>Maximum Speed:</strong> 	35 mph (15 m/s)
              li <strong>Maximum Distance:</strong> 	Up to 9,840ft (3,000m)
              li <strong>Operating Frequency:</strong> 2.4GHz
              li <strong>Manufacturer:</strong> GoPro, USA

        .col-md-4
          h2.h4 Auction Info
          ul.list-unstyled.mb-2
            li <strong>Auction Title:</strong> The Title Of The Auction
            li <strong>Dates:</strong> 	Apr 5 - May 5
          ul.list-unstyled.mb-2
            li
              a(href="#") Shipping Info
            li
              a(href="#") Helper Link 1
            li
              a(href="#") Helper Link 2
            li
              a(href="#") Helper Link 3

