extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var parentMenu = 'Account'
  - var pageTitle = 'T27 - User Watchlist'
  - var menuTitle = 'Account'
  - var pageTitle = 'T27 - User Watchlist'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {title: 'Account', link: '/t26-user-profile.html'}, {'title': 'T27 - User Watchlist'}]

//- Page Content
block content
  - var activeLink = 1

  .user-watchlist-page.padding-bottom-3x
    .container
      .row
        .col-12
          include partials/account-products
