extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var parentMenu = 'Account'
  - var pageTitle = 'T29 - User Consignments'
  - var menuTitle = 'Account'
  - var pageTitle = 'T29 - User Consignments'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {title: 'Account', link: '/account-orders.html'}, {'title': 'T29 - User Consignments'}]

//- Page Content
block content
  .user-consignments-page.padding-bottom-3x
