extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var parentMenu = 'Account'
  - var pageTitle = 'T30 - User Wantlist'
  - var menuTitle = 'Account'
  - var pageTitle = 'T30 - User Wantlist'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {title: 'Account', link: '/account-orders.html'}, {'title': 'T30 - User Wantlist'}]

//- Page Content
block content
  - var activeItem = 4

  .user-wantlist-page.padding-bottom-3x
    .container
      .row
        .col-md-4
          include partials/account-sidebar
        .col-md-8
