extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var parentMenu = 'Account'
  - var pageTitle = 'T32 - User Notifications'
  - var menuTitle = 'Account'
  - var pageTitle = 'T32 - User Notifications'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {title: 'Account', link: '/t26-user-profile.html'}, {'title': 'T32 - User Notifications'}]

//- Page Content
block content
  .user-notifications-page.padding-bottom-3x
