extends partials/layout

//- Override default config variables
append config
  - var pageTitle = 'T35 - User Payment Gateway (Step 5)'
  - var parentMenu = 'Shop'
  - var menuTitle = 'Complete'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'T35 - User Payment Gateway (Step 5)'}]

//- Page Content
block content
  .container.padding-bottom-3x.mb-2
    .card.text-center
      .card-body.padding-top-2x
        h3.card-title Thank you for your order!
        p.card-text Your order has been placed and will be processed as soon as possible.
        p.card-text
          | Make sure you make note of your order number, which is
          span.text-medium 34VB5540K83
        p.card-text
          | You will be receiving an email shortly with confirmation of your order.
