extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var parentMenu = 'Account'
  - var pageTitle = 'T35 - User Payment Gateway'
  - var menuTitle = 'Account'
  - var pageTitle = 'T35 - User Payment Gateway'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {title: 'Account', link: '/account-orders.html'}, {'title': 'T35 - User Payment Gateway'}]

//- Page Content
block content
  .user-payment-gateway-page.padding-bottom-3x
