.auction-header
  .auction-header__banner
    .container
      .auction-header__banner-info
        .dates
          .date
            span.day Mon
            span.date 15
            span.month Apr
          .separator
            i.icon-chevron-right
          .date
            span.day Sat
            span.date 4
            span.month May
        h1.title Auction 85
      .auction-header__banner-actions
        .auction-header__time
          .countdown(data-date-time='12/30/2019 12:00:00')
            .item
              .days
              span.days_ref Days
            .item
              .hours
              span.hours_ref Hours
            .item
              .minutes
              span.minutes_ref Mins
            .item
              .seconds
              span.seconds_ref Seconds
        .auction-header__register
          a.btn.btn-primary.btn-sm(href='#') Register
        .auction-header__more
          button(data-toggle='true' aria-controls="auction-header-content" aria-expanded="false").btn
            span.text More
            i.icon.icon-chevron-down
  .auction-header__content(id='auction-header-content' tabindex='-1' role='region')
    .container
      .auction-header__content-inner
        .row.align-items-center
          .col-sm-4.col-md-3
            img(src="//source.unsplash.com/1024x768", alt="Auction Image").img-fluid.mb-3.mb-sm-0
          .col-sm-8.col-md-9
            .auction-header__content-meta.mb-3
              span.items 0 Items
              span.id Sale #19BOS070
            h2.title Furniture, Home Decore & More
            .auction-header__content-details
              span.status.ended
                span.circle
                span.text Ended
              span.date Friday, April 19th 2019 @ 8:15pm
