.auction-header
  .auction-header__banner
    .container
      .auction-header__banner-info
        h1.title Fri April 19th - Sat April 20th
      .auction-header__banner-actions
        .auction-header__register
          a.btn.btn-primary.btn-sm(href='#') Register
        .auction-header__more
          button(data-toggle='true' aria-controls="auction-header-content" aria-expanded="false").btn
            span.text More
            i.icon.icon-chevron-down
  .auction-header__content(id='auction-header-content' tabindex='-1' role='region')
    .container
      .auction-header__content-inner
        .row.align-items-md-center
          .col-4.col-md-3
            img(src="/img/auction-catalog/catalog-4.jpg", alt="Auction Image").img-fluid
          .col-8.col-md-9
            h2.title Auction Info
            p Pariatur ipsum ipsum magna do reprehenderit cupidatat. Veniam dolore veniam labore velit do reprehenderit incididunt aute incididunt eiusmod do. Veniam consectetur sit reprehenderit dolore. Id duis commodo proident eu eu nulla ea ullamco excepteur dolore velit sit aliqua. Voluptate velit nostrud fugiat aliqua est ut amet. Sunt in eu Lorem velit do cillum nulla Lorem magna cillum consequat. Id cillum et magna enim nostrud veniam ullamco exercitation ex.
