aside.sidebar
  .padding-top-2x.hidden-lg-up

  // Order Summary Widget
  section.widget.widget-order-summary
    h3.widget-title Order Summary
    table.table
      tr
        td Cart Subtotal:
        td.text-gray-dark $2,548.50
      tr
        td Shipping:
        td.text-gray-dark $26.50
      tr
        td Estimated tax:
        td.text-gray-dark $9.72
      tr
        td
        td.text-lg.text-gray-dark $2,584.72

