// Site Footer
footer()&attributes(isNestedFile ? {'style': 'background-image: url(../img/footer-bg.png);'} : {'style': 'background-image: url(/img/footer-bg.png);'}).site-footer
  .container
    .row
      .col-lg-6
        // Categories
        section.widget.widget-links.widget-light-skin
          h3.widget-title Departments
          .row
            .col-md-6
              ul
                li
                  a(href='#') Autographs &amp; ManuScripts
                li
                  a(href='#') Animation Art
                li
                  a(href='#') JFK &amp; Presidential
                li
                  a(href='#') Marvels of Modern Music
                li
                  a(href='#') Olympics Memorabilia
            .col-md-6
              ul
                li
                  a(href='#') Pop Culture
                li
                  a(href='#') Remarkable
                li
                  a(href='#') Science &amp; Technology
                li
                  a(href='#') Space Exploration
                li
                  a(href='#') Sports Cards &amp; Memorabilia

      .col-lg-3.col-md-6
        // About Us
        section.widget.widget-links.widget-light-skin
          h3.widget-title About Us
          ul
            li
              a(href='#') Our History
            li
              a(href='#') Meet The Team
            li
              a(href='#') RR Specialists
            li
              a(href='#') Our Auctions

      .col-lg-3.col-md-6
        // Account / Shipping Info
        section.widget.widget-links.widget-light-skin
          h3.widget-title My Account
          ul
            li
              a(href='#') Bidtracker
            li
              a(href='#') My Profile
            li
              a(href='#') My Orders
            li
              a(href='#') My Wantlist
            li
              a(href='#') My Consignments

    hr.hr-light.mt-2.margin-bottom-2x.hidden-md-down

    .row
      .col-lg-3.col-md-6
        section.widget.widget-links.widget-light-skin
          h3.widget-title My Account
          .row
            .col-md-6
              ul
                li
                  a(href='#') Aug 7
                li
                  a(href='#') Aug 15
                li
                  a(href='#') Sept 11
                li
                  a(href='#') Sept 19
                li
                  a(href='#') Oct 9
            .col-md-6
              ul
                li
                  a(href='#') Oct 17
                li
                  a(href='#') Nov 6
                li
                  a(href='#') Nov 14
                li
                  a(href='#') Dec 4
                li
                  a(href='#') Dec 12
      .col-lg-3.col-md-6
        // Contact Info
        section.widget.widget-light-skin
          h3.widget-title Get In Touch
          p.text-white Phone: (800) 937-3880
          p.text-white International: (603) 732-4280
          p.text-white Bid:
            a(href='mailto:bid@rrauction.com').navi-link-light &nbsp;bid@rrauction.com
          p.text-white Sell:
            a(href='mailto:sell@rrauction.com').navi-link-light &nbsp;sell@rrauction.com

      .col-lg-6
        // Subscription
        section.widget.widget-light-skin
          h3.widget-title Stay In The Know
          form(action='//rokaux.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;id=1194bb7544' method='post' target='_blank' novalidate).row
            .col-sm-9
              .input-group.input-light
                input(type='email' name='EMAIL' placeholder='Your e-mail').form-control
                span.input-group-addon
                  i.icon-mail
              // real people should not fill this in and expect good things - do not remove this or risk form bot signups
              div(style='position: absolute; left: -5000px;' aria-hidden='true')
                input(type='text' name='b_c7103e2c981361a6639545bd5_1194bb7544' tabindex='-1')
              p.form-text.text-sm.text-white.opacity-50.pt-2 Subscribe to our Newsletter to receive auction updates.
            .col-sm-3
              button(type='submit').btn.btn-primary.btn-block.mt-0 Subscribe
          .pt-3
            .social-buttons
              a(href='https://www.facebook.com/rrauction').social-button.shape-circle.sb-facebook.sb-light-skin
                i.socicon-facebook
              a(href='https://twitter.com/rrauction').social-button.shape-circle.sb-twitter.sb-light-skin
                i.socicon-twitter
              a(href='https://www.pinterest.com/rrauction/').social-button.shape-circle.sb-pinterest.sb-light-skin
                i.socicon-pinterest
              a(href='https://plus.google.com/112356402140002511649?hl=en').social-button.shape-circle.sb-google-plus.sb-light-skin
                i.socicon-googleplus
              a(href='https://www.linkedin.com/company/rr-auction').social-button.shape-circle.sb-linkedin.sb-light-skin
                i.socicon-linkedin


    // Copyright
    p.footer-copyright
      | © 2018 All rights reserved. RR Auction
