// Header
// Remove "navbar-sticky" class to make navigation bar scrollable with the page.
header.site-header.navbar-sticky

  // Topbar
  .topbar.d-flex.justify-content-between

    // Logo
    .site-branding.d-flex
      a()&attributes(isNestedFile ? {'href': '../index.html'} : {'href': 'index.html'}).site-logo.align-self-center
        +image('/img/rr/RRAuctionLogoBlackandWhite-Long-01.svg', 'RR Auction')

    // Search / Categories
    .search-box-wrap.d-flex
      .search-box-inner.align-self-center
        .search-box
          form(method='get').d-flex.align-items-center
            select(name="type").form-control
              option(value="Current Auctions") Current Auctions
              option(value="Preview Auctions") Preview Auctions
              option(value="Past Auctions") Past Auctions
              option(value="All Auctions") All Auctions
            .input-group
              span.input-group-btn
                button(type='submit')
                  i.icon-search
              input(type='search' placeholder='Search by lot # of Keyword').form-control
          a(href="/t36-advanced-search.html").advanced-search Advanced Search

    //- toolbar.pug template
    .toolbar.d-flex
      if isLoggedIn
        include toolbar--logged-in
      else
        include toolbar--logged-out

    //- mobile-menu.pug template
    include menu--mobile

  // Navbar
  .navbar
    include menu

    //- // Toolbar ( Put toolbar here only if you enable sticky navbar )
    //- .toolbar
    //-   if isLoggedIn
    //-     include toolbar--logged-in
    //-   else
    //-     include toolbar--logged-out
