.search-box
  form(method='get').d-flex.align-items-center
    select(name="type").form-control
      option(value="Current Auctions") Current Auctions
      option(value="Preview Auctions") Preview Auctions
      option(value="Past Auctions") Past Auctions
      option(value="All Auctions") All Auctions
    .input-group
      span.input-group-btn
        button(type='submit')
          i.icon-search
      input(type='search' placeholder='Search by lot # or Keyword').form-control
    a(href="/t36-advanced-search.html").advanced-search Advanced Search
