// Header
// Remove "navbar-sticky" class to make navigation bar scrollable with the page.
header.site-header.navbar-sticky

  .alert(role='alert')
    .container
      | This is a primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.

  // Topbar
  .topbar.d-flex.justify-content-between

    // Logo
    .site-branding.d-flex
      a()&attributes(isNestedFile ? {'href': '../index.html'} : {'href': 'index.html'}).site-logo.align-self-center
        +image('/img/rr/RRAuctionLogoBlackandWhite-Long-01.svg', 'RR Auction')

    // Search / Categories
    .search-box-wrap.d-flex
      .search-box-inner.align-self-center
        include header-search

    //- toolbar.pug template
    .toolbar.d-flex
      if isLoggedIn
        include toolbar--logged-in
      else
        include toolbar--logged-out

    //- mobile-menu.pug template
    include menu--mobile

  // Navbar
  .navbar
    include menu

  .mobile-search(id='mobile-search')
    include header-search

  .footer-nav
    .toolbar
      if isLoggedIn
        include toolbar--logged-in--mobile
      else
        include toolbar--logged-out--mobile

    //- // Toolbar ( Put toolbar here only if you enable sticky navbar )
    //- .toolbar
    //-   if isLoggedIn
    //-     include toolbar--logged-in
    //-   else
    //-     include toolbar--logged-out
