aside.sidebar.sidebar--home-categories.padding-top-1x
  // Widget Categories
  section.widget.widget-categories
    h3.widget-title Auction Categories
    ul
      li
        a(href='#') Featured Items
        span (47)

      li
        a(href='#') Presidents and First Ladies
        span (73)

      li
        a(href='#') Space
        span (42)

      li
        a(href='#') Notables
        span (111)

      li
        a(href='#') Aviation
        span (10)

      li
        a(href='#') Declaration of Independence Signers
        span (3)

      li
        a(href='#') Supreme Court
        span (7)

      li
        a(href='#') World Leaders and Politicians
        span (13)

