aside.sidebar.sidebar--home-categories.padding-top-1x
  // Widget Categories
  header
    h3 Fine Autograph and Artifact Auction
    .header-info
      span.badge.badge-default.badge-pill 1000 Items
      span.date Ends 5/4
  nav.list-group
    a.list-group-item.with-badge(href="#")
      | Featured Items
      span.badge.badge-default.badge-pill 47
    a.list-group-item.with-badge(href="#")
      | Presidents and First Ladies
      span.badge.badge-default.badge-pill 73
    a.list-group-item.with-badge(href="#")
      | Space
      span.badge.badge-default.badge-pill 42
    a.list-group-item.with-badge(href="#")
      | Notables
      span.badge.badge-default.badge-pill 111
    a.list-group-item.with-badge(href="#")
      | Aviation
      span.badge.badge-default.badge-pill 10
    a.list-group-item.with-badge(href="#")
      | Declaration of Independence Signers
      span.badge.badge-default.badge-pill 3
    a.list-group-item.with-badge(href="#")
      | Supreme Court
      span.badge.badge-default.badge-pill 7
    a.list-group-item.with-badge(href="#")
      | World Leaders and Politicians
      span.badge.badge-default.badge-pill 13
    a.list-group-item(href="#")
      | View All Categories
