.btn-group.my-0
  button.btn.btn-primary.btn-sm.my-0.dropdown-toggle(type='button' data-toggle='dropdown' aria-expanded='false') Action
  .dropdown-menu
    a.dropdown-item(href="#") Pay Invoice
    a.dropdown-item(href="#") Print Invoice
    a.dropdown-item(href="#") View PDF
    a.dropdown-item(href="#") Download PDF
