// Main Navigation
nav.site-menu
  ul
    for link in mainMenuLinks
      li.has-submenu
        +menu-link('#', link.text)
        ul.sub-menu
          for sublink in link.children
            li
              +menu-link(sublink.url, sublink.text)
