// Mobile Menu
.mobile-menu
  // Slideable (Mobile) Menu
  nav.slideable-menu
    ul(data-initial-height='385').menu
      for link in mainMenuLinks
        li.has-children
          span
            +menu-link('#', link.text)
            span.sub-menu-toggle
          ul.slideable-submenu
            for sublink in link.children
              +submenu-item(sublink.url, sublink.text)

