// Open Ticket Modal
div(id='orderDetails' tabindex='-1').modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h5.modal-title Order No  - 34VB5540K83
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        .table-responsive.shopping-cart.mb-0
          table.table
            thead
              tr
                th Product Name
                th.text-center Subtotal
            tbody
              tr
                td
                  .product-item
                    a(href='/t21-auction-item-detail.html').product-thumb
                      img(src='/img/rr/items/3409878_1.jpg', alt='Product')
                    .product-info
                      h4.product-title
                        a(href='/t21-auction-item-detail.html')
                          | George Washington
                          small x 1
                      span
                        em Type:
                        |  Book
                      span
                        em Color:
                        |  White
                td.text-center.text-lg $910.00
              tr
                td
                  .product-item
                    a(href='/t21-auction-item-detail.html').product-thumb
                      img(src='/img/rr/items/3410295_1.jpg', alt='Product')
                    .product-info
                      h4.product-title
                        a(href='/t21-auction-item-detail.html')
                          | Thomas Jefferson
                          small x 1
                      span
                        em Type:
                        |  Picture
                      span
                        em Color:
                        |  Space Gray
                td.text-center.text-lg $1,450.00
              tr
                td
                  .product-item
                    a(href='/t21-auction-item-detail.html').product-thumb
                      img(src='/img/rr/items/3409343_1.jpg', alt='Product')
                    .product-info
                      h4.product-title
                        a(href='/t21-auction-item-detail.html')
                          | HP LaserJet Pro Laser Printer
                          small x 1
                      span
                        em Type:
                        |  Transcript
                      span
                        em Color:
                        |  White
                td.text-center.text-lg $188.50
        hr.mb-3
        .d-flex.flex-wrap.justify-content-between.align-items-center.pb-2
          .px-2.py-1 <span class='text-muted'>Subtotal:</span> <span class='text-gray-dark'>$2,548.50</span>
          .px-2.py-1 <span class='text-muted'>Shipping:</span> <span class='text-gray-dark'>$26.50</span>
          .px-2.py-1 <span class='text-muted'>Tax:</span> <span class='text-gray-dark'>$9.72</span>
          .text-lg.px-2.py-1 <span class='text-muted'>Total:</span> <span class='text-gray-dark'>$2,584.72</span>
