div(id='modalFormPage' tabindex='-1' role='dialog').modal.fade
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h4.modal-title Thanks For Your Submission
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        p One of our representatives will be in touch shortly. If you have any immediate questions, please reach out to us at 603-732-4280.
