.profile
  img(src=profile.image alt='Team').d-block.w-150.mx-auto.img-thumbnail.rounded-circle.mb-2
  h6.mb-1 #{profile.name}
  p.text-sm.text-muted.mb-0 #{profile.title}
  p.text-sm.text-muted.mb-3 #{profile.email}
