.social-buttons
  a(href='https://www.facebook.com/rrauction').social-button.shape-circle.sb-facebook
    i.socicon-facebook
  a(href='https://twitter.com/rrauction').social-button.shape-circle.sb-twitter
    i.socicon-twitter
  a(href='https://www.pinterest.com/rrauction/').social-button.shape-circle.sb-pinterest
    i.socicon-pinterest
  a(href='https://plus.google.com/112356402140002511649?hl=en').social-button.shape-circle.sb-google-plus
    i.socicon-googleplus
  a(href='https://www.linkedin.com/company/rr-auction').social-button.shape-circle.sb-linkedin
    i.socicon-linkedin
