
.toolbar-item.visible-on-mobile.mobile-menu-toggle
  a(href='#')
    div
      i.icon-menu
      span.text-label Menu
.toolbar-item.hidden-on-mobile
  a(href='/t07-contact.html')
    div
      i.icon-phone
      span.text-label Contact
.toolbar-item.hidden-on-mobile
  a(href='/t03-how-to-sell.html')
    div
      i.icon-dollar-sign
      span.text-label Sell With Us
.toolbar-item.hidden-on-mobile
  a(href='/t23-login.html')
    div
      i.icon-edit
      span.text-label Create Account
.toolbar-item.hidden-on-mobile
  a(href='/t23-login.html')
    div
      i.icon-user
      span.text-label Sign In
