.toolbar-item.bg-secondary
  a(href='/t07-contact.html')
    div
      i.icon-phone
      span.text-label Contact
.toolbar-item.bg-secondary
  a(href='/t03-how-to-sell.html')
    div
      i.icon-dollar-sign
      span.text-label Sell With Us
.toolbar-item.bg-secondary
  a(href='/t23-login.html')
    div
      i.icon-edit
      span.text-label Sign Up
.toolbar-item.bg-secondary
  a(href='/t23-login.html')
    div
      i.icon-user.text-primary
      span.text-label.text-primary Sign In
