.homepage {
  .home-slide {
    position: relative;

    .overlay {
      color: $white-color;
      background-color: rgba($black-color, .4);
      padding: 15px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      .text {
        margin-bottom: 10px;
        font-size: 20px;
      }

      .btn {
        margin: 0;
      }
    }
  }
}
