.form-page {

}

@media (min-width: $screen-md) {
  .form-page {
    &__copy {
      padding-right: $spacing-unit--lg;
    }

    &__form {
      border-left: 1px solid $border-color;
      padding-left: $spacing-unit--lg;
    }
  }
}
