.auction-calendar-page {
  .calendar-header {
    .nav-tabs {
      .nav-link {
        transition-property: color, background-color;
        &.active {
          background-color: $brand-primary;
          color: $white-color;
        }
      }
    }
  }
  .calendar-content {
    .tab-content {
      border: none;
      padding: 0;
    }

    .table-responsive {
      min-height: 50vh;
    }

    table {
      .status {

      }

      .action {
        .btn {
          z-index: 0;
        }
        .dropdown-menu {
          z-index: 1;
        }
      }
    }
  }
}
