.auction-item-detail-page {
  .nav-tabs {
    .nav-link {
      transition-property: color, background-color;
      &.active {
        background-color: $gray-lighter;
        border-bottom-color: $gray-lighter;
        color: $gray-darker;
      }
    }
  }

  .product-info-card {
    padding: .5rem 1.5rem 1.5rem;

    h4 {
      font-size: 20px;
    }
  }

  .alert {
    padding: 10px 15px;
  }

  .gallery-item {
    img {
      max-width: 320px;
      margin: 0 auto;
      display: block;
    }
  }

  .auction-header__time {
    color: $black-color;
    display: block;
    text-align: right;
    padding: 0;
    margin-bottom: 10px;

    .countdown {
      display: flex;
      justify-content: flex-end;

      .active {
        display: flex;
      }
    }
  }
}
