//- Page title
- var pageTitle = "Unishop | Universal E-Commerce Template"

//- Breadcrumbs
- var breadcrumbs = []

//- Conditionals
- var isHeader = true
- var isFooter = true
- var isPageTitle = true
- var isGoogleMap = false
- var isBSToast = false
- var isModalExample = false
- var isModalTicket = false
- var isModalOrder = false
- var isCardScript = false
- var isGallery = false

//- File nesting
- var isNestedFile = false

//- Active menu item
- var parentMenu
- var menuTitle

-
  var mainMenuLinks = [
    {
      text: 'Buy',
      children: [
        {
          url: '#',
          text: 'Bid Now'
        },
        {
          url: '/t02-how-to-buy.html',
          text: 'How to Bid/Buy'
        },
        {
          url: '/t25-register.html',
          text: 'Register to Bid'
        },
        {
          url: '#',
          text: 'Bidding FAQs'
        },
        {
          url: '#',
          text: 'View or Buy Catalogs'
        }
      ]
    },
    {
      text: 'Sell',
      children: [
        {
          url: '#',
          text: 'Free Appraisal'
        },
        {
          url: '/t03-how-to-sell.html',
          text: 'How to Sell/Consign'
        },
        {
          url: '/t10-specialists.html',
          text: 'Meet Our Specialists'
        },
        {
          url: '/t06-testimonials.html',
          text: 'Seller Testimonials'
        },
        {
          url: '#',
          text: 'Selling FAQs'
        }
      ]
    },
    {
      text: 'Auctions',
      children: [
        {
          url: '/t17-auction-calendar.html',
          text: 'Auction Calendar'
        },
        {
          url: '/t18-auction-list--list.html',
          text: 'Current Auction'
        },
        {
          url: '#',
          text: 'Preview Auction'
        },
        {
          url: '#',
          text: 'Past Auctions'
        },
        {
          url: '#',
          text: 'Future Auctions'
        }
      ]
    },
    {
      text: 'Departments',
      children: [
        {
          url: '/t11-auction-department.html',
          text: 'Autographs & Manuscripts'
        },
        {
          url: '/t11-auction-department.html',
          text: 'Animation Art'
        },
        {
          url: '/t11-auction-department.html',
          text: 'JFK & Presidential'
        },
        {
          url: '/t11-auction-department.html',
          text: 'Marvels of Modern Music'
        },
        {
          url: '/t11-auction-department.html',
          text: 'Olympics Memorabilia'
        },
        {
          url: '/t11-auction-department.html',
          text: 'Pop Culture & Hollywood'
        },
        {
          url: '/t11-auction-department.html',
          text: 'Prince Collectibles'
        },
        {
          url: '/t11-auction-department.html',
          text: 'Remarkable Rarities'
        },
        {
          url: '/t11-auction-department.html',
          text: 'Science & Technology'
        },
        {
          url: '/t11-auction-department.html',
          text: 'Space Exploration'
        },
        {
          url: '/t11-auction-department.html',
          text: 'Sports Cards & Memorabilia'
        }
      ]
    },
    {
      text: 'About',
      children: [
        {
          url: '/t08-about.html',
          text: 'Our History'
        },
        {
          url: '/t09-team.html',
          text: 'Meet The Team'
        },
        {
          url: '/t06-testimonials.html',
          text: 'Testimonials'
        }
      ]
    },
    {
      text: 'Media',
      children: [
        {
          url: '#',
          text: 'In The News'
        },
        {
          url: '/t15-blog-list.html',
          text: 'Blog'
        },
        {
          url: '#',
          text: 'Podcasts'
        }
      ]
    },
    {
      text: 'Results',
      children: [
        {
          url: '#',
          text: 'Past Auction Archive'
        },
        {
          url: '#',
          text: 'Top Past Results'
        },
        {
          url: '#',
          text: 'Space Results'
        },
        {
          url: '#',
          text: 'Music Results'
        },
        {
          url: '#',
          text: 'Sports Results'
        }
      ]
    }
  ]
